<h1>Plan the scuba trip of your dreams!</h1>

<p>I bet some images and ipsum text would look awesome here.
</p>


<!-- <img src="wall_of_fish.jpg" alt="..." class="img-circle"> -->
<!-- traditional html above / sass  -->


<!-- <%=image_tag("wall_of_fish.jpg", :class => "img-circle") %> -->


<!-- <%=image_tag("wall_of_fish.jpg", class: "img-circle", alt: "FISH") %>
<%=image_tag("wall_of_fish.jpg", class: "img-thumbnail", alt: "FISH") %>
-->
<%= render partial: 'carousel' %>
